*{
  margin: 0;
  
}

body{
  background-color: #f7f7ff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .container{
    display: flex;       
    height: 650px;
    background-color: rgb(238, 232, 232);
    position: fixed ;
    align-items: right;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
  }
  .output {
    display: flex;
    flex-direction: column ;
    justify-content: space-between; 
    align-items:left;
    background-color:  #f7f7ff;
    padding-left: 300px;
    width: 500px;
    
  } 

  input{
   
    width: 200px;
    height: 50px;
    background-color: white;
    border: none;
    padding-left: 15px;
    margin: 5px;
  }
.Home{

  
}


.Front{
  align-items: center;
  width: 500px;
  display: flex;
  flex-direction: column ;
}
.worker-preveiw{

}
.Name{
display: inline block;

}

select{
  width: 200px;
    height: 50px;
    background-color: white;
    border: none;
    padding-left: 15px;
    margin: 5px;
}
option{
  width: 200px;
    height: 50px;
    background-color: white;
    border: none;
    padding-left: 15px;
    margin: 5px;
}
button{
  border: none;
  padding-bottom: 30 px;
  margin-bottom: 50px;
  margin-top: 30px;
  width: 100px;
  height: 60 px;
  background-color: rgb(238, 19, 19);

}
